<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{title}}</title>

    <link href="/css/style.css" media="all" rel="stylesheet" /></head>

<body lang="en">

    <header>
    </header>

    <div id="canvas">
        {{{body}}}
    </div>

    <script>
        // data exposed by express-state
        {{{state}}}
    </script>
    
    <script src="http://yui.yahooapis.com/3.9.1/build/yui/yui-min.js"></script>

    <!-- remove this if you don't want socket.io -->
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/script.js" defer></script>
</body>

</html>
