<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{title}}</title>

    <link href="/css/style.css" media="all" rel="stylesheet" /></head>

<body lang="en">

    <header>
    </header>

    <div id="canvas">
        {{{body}}}
    </div>

    <script>
        // data exposed by express-state
        {{{state}}}
    </script>
    <script src="/js/script.js"></script>
</body>

</html>
